.hover {
    transition-property: width,transform,opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    will-change: width transform opacity;
    pointer-events: none;
    position: absolute;
}